<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ swagger_css_url }}">
    <title>{{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
    <h1>Debug Info</h1>
    <p>OpenAPI URL: {{ openapi_url }}</p>
    <p>Title: {{ title }}</p>
    <p>Swagger JS URL: {{ swagger_js_url }}</p>
    <p>Swagger CSS URL: {{ swagger_css_url }}</p>

    <div id="swagger-ui"></div>
    <script src="{{ swagger_js_url }}"></script>
    <script>
        window.onload = function() {
            console.log("Window loaded");
            const ui = SwaggerUIBundle({
                url: '{{ openapi_url }}',
                dom_id: '#swagger-ui',
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIBundle.SwaggerUIStandalonePreset
                ],
                layout: "BaseLayout",
                deepLinking: true
            });
            window.ui = ui;
            
            console.log("SwaggerUI initialized");
            
            // Configure MathJax
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    displayMath: [['$$','$$'], ['\\[','\\]']],
                    processEscapes: true
                }
            });
            
            console.log("MathJax configured");
            
            // Reprocess MathJax when Swagger UI updates
            ui.on('loaded', function() {
                console.log("SwaggerUI loaded event fired");
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
            });
        }
    </script>
</body>
</html>